<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">Node-Js</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= pageTitle === 'Home' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <% if(isUser){ %>
          
          <li class="nav-item <%= pageTitle === 'Cart' ? 'active' : '' %>">
            <a class="nav-link" href="/cart">cart</a>
          </li>
          <li class="nav-item <%= pageTitle === 'Home' ? 'active' : '' %>">
            <a class="nav-link" href="/orders">Orders</a>
          </li>

        <% }else{ %>
          <li class="nav-item <%= pageTitle === 'LogIn' ? 'active' : '' %>">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item <%= pageTitle === 'SignIn' ? 'active' : '' %>">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
        <% } %>
        <li class="nav-item <%= pageTitle === 'add-product' ? 'active' : '' %>">
          <a class="nav-link" href="/admin/add">Add Product</a>
        </li>
        <li class="nav-item <%= pageTitle === 'orders' ? 'active' : '' %>">
          <a class="nav-link" href="/admin/orders">Manage Orders</a>
        </li>
      </ul>
      <% if(isUser){ %>
        <form class="form-inline my-2 my-lg-0" action="logout" method="POST">
          <button class="btn btn-danger my-2 my-sm-0" type="submit">LogOut</button>
        </form>
      <% } %>

    </div>
    </div>
  </nav>
  <!-- End Nave Bar -->