<%- include('includes/header');  %>
<%- include('includes/navbar');  %>
<div class="add-products">
    <div class="container"><br><br><br><br><br><br>
        <form method="POST" action="/admin/add" enctype="multipart/form-data">
            <%# npm install --save multer --%>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="name" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="price" placeholder="price">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <textarea class="form-control" name="description" placeholder="Description"></textarea>
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="file" class="form-control" name="image">
              </div>

              <div class="form-group col-md-12">
                <label for="inputState">Category</label>
                <select name="category" class="form-control">
                  <option selected>Choose...</option>
                  <option value="phones">phone</option>
                  <option value="clothes">clothes</option>
                  <option value="lab">lab</option>
                </select>
              </div>
              
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </div>
</div>
<%- include('includes/footer');  %>