<%- include('includes/header');  %>
<%- include('includes/navbar');  %>
<div class="products"><br><br>
    <div class="container">
           
        <div class="row">
           
        <% if(items.length === 0){ %>
        <div class="col-md-12">
            <div class="alert alert-danger">
                there is not items
            </div>
        </div>
        <% }else{ %>
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <td scope="col">no</td>
                            <td scope="col">price</td>
                            <td scope="col">Product Name</td>
                            <td scope="col">Amount</td>
                            <td scope="col">total</td>
                            <td scope="col">Operation</td>
                        </tr>
                    </thead>
                    
                    <tbody>
                    <% for(let i = 0; i < items.length;i++){ %>
                    <tr>
                        <td scope="row"> <%= i+1 %> </td>
                        <td> <%= items[i].name %> </td>
                        <td> <%= items[i].price %> $ </td>

                        <form method="POST">
                            <td> <input type="text" name="amount" value="<%= items[i].amount %>"> </td>
                            <td><%= items[i].price * items[i].amount %> $ </td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <input type="submit" name="save" value="Save" formaction="/cart/save">
                                <input type="submit" name="delete" value="Delete" formaction="/cart/delete">
                            </td>
                        </form>

                    </tr>
                </tbody>
            <% } %><%# end if forLoop #%>
            </table>
            </div>
        </div>
        <% } %><%# end if condition #%>
    </div>
</div>
<%- include('includes/footer');  %>