<%- include('includes/header'); %>
<%- include('includes/navbar'); %>

<div class="products">
    <div class="container"><br><br><br><br>
        <div class="alert alert-danger">
            Something Went Wrong 
        </div>
    </div>
</div>

<%- include('includes/footer'); %>