<%- include('includes/header');  %>
<%- include('includes/navbar');  %>
<div class="products">
    <div class="container">
            <form method="GET" action="/">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" name="categor">
                    <option value="all">all</option>
                    <option value="clothes">clothes</option>
                    <option value="phones">phones</option>
                    <option value="all">4</option>
                    <option value="all">5</option>
                  </select>
                  <button type="submit" class="btn btn-primary mb-2">Filter</button>
                </div>
            </form>
            <% if(CartValidationErrors){ %>
            <p class="alert alert-danger">
                <%= CartValidationErrors.msg %>
            </p>
            <% } %>
        <% if(products.length === 0){ %>
            <div class="alert alert-danger">
                no products
            </div>
        <% }else{ %>
        <div class="row">
            <% for( let product of products ){ %>
                <div class="col-md-4">
                
                    <div class="card" style="width: 18rem;">
                        <img style="height:160px" class="card-img-top" src="<%= product.image %>" alt="Card image cap">
                        <div class="card-body">

                            <a href="/product/<%= product._id %>" ><h5 class="card-title"><%= product.name %></h5></a>
                            <p class="card-text"><%= product.price %></p>
                            <p style="color:tomato" class="card-text"><%= product.categor %></p>
                           
                            <div class="dropdown-divider"></div>

                            <form action="/cart" method="POST" class="form-inline text-center">
                                <div class="form-group">
                                    <%# name price productId amount #%>
                                    <input type="number" class="form-control col-6" name="amount" placeholder="amount">
                                    <input type="hidden" name="name" value="<%= product.name %>">
                                    <input type="hidden" name="price" value="<%= product.price %>">  
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <input type="hidden" name="redirectTo" value="/">
                                    <button type="submit" class="btn btn-primary ">add to cart</button>
                                </div>
                              </form>

                        </div>
                    </div>
                    <br><br><br>
                </div>
            <% } %><%# end if forLoop #%>

        </div>
        <% } %><%# end if condition #%>
    </div>
</div>
<%- include('includes/footer');  %>