<%- include('includes/header');  %>
<%- include('includes/navbar');  %>
<br><br>
<div class="container">
    <form action="/login" method="POST">
        <div class="form-group mx-sm-3 mb-2">
            <input type="email" class="form-control" name="email" placeholder="email"><br>
            <% let email = validationLoginErrors.find(err => err.param === 'email') %>
            <% if(email){ %>
                <div class="alert alert-danger">
                    <%= email.msg %>
                </div>
            <% } %>
            <input type="password" class="form-control" name="password" placeholder="Password"><br>
            <% let password = validationLoginErrors.find(err => err.param === 'password') %>
            <% if(password){ %>
                <div class="alert alert-danger">
                    <%= password.msg %>
                </div>
            <% } %>
            <button type="submit" class="btn btn-primary mb-2">Login</button>
        </div>
    </form>
    <% if(authError){ %>
        <div class="alert alert-danger">
            <%= authError %>
        </div>
    <% } %>

    
<hr>
<div>
    don't have account ? <a href="/signup">Create Account</a>
</div>

</div>

<%- include('includes/footer');  %>