<%- include('includes/header');  %>
<%- include('includes/navbar');  %>
<div class="products">
    <div class="container"><br><br><br><br>
        <% if(!product){ %>
            <div class="alert alert-danger">
                no product
            </div>
        <% }else{ %>
        
                <div class="" style="width: 25rem;">
                    <img style="height:160px" class="card-img-top" src="/<%= product.image %>" alt="Card image cap">
                    <div class="card-body">

                        <a href="/product/<%= product._id %>" ><h5 class="card-title"><%= product.name %></h5></a>
                        <p class="card-text"><%= product.description %></p>
                        <p style="color:tomato" class="card-text"><%= product.categor %></p>
                        
                        <div class="dropdown-divider"></div>
                        <form action="/cart" method="POST" class="form-inline text-center">
                            <div class="form-group">
                                <input type="number" class="form-control col-8" name="amount" placeholder="amount">
                            </div>
                            <button type="submit" class="btn btn-primary">add to cart</button>
                            </form>
                    </div>
                </div>
        <% } %>
    </div>
</div>
<%- include('includes/footer');  %>