<%- include('includes/header');  %>
<%- include('includes/navbar');  %>
<div class="container">
    <form action="/signup" method="POST"><br><br>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="username" placeholder="username"><br>
            <% let usernameError = validationErrors.find(err => err.param === 'username') %>
            <% if(usernameError){ %>
                <div class="alert alert-danger">
                    <%= usernameError.msg %>
                </div>
            <% } %>
            <input type="email" class="form-control" name="email" placeholder="email"><br>
            <% let email = validationErrors.find(err => err.param === 'email') %>
            <% if(email){ %>
                <div class="alert alert-danger">
                    <%= email.msg %>
                </div>
            <% } %>
            <input type="password" class="form-control" name="password" placeholder="Password"><br>
            <% let password = validationErrors.find(err => err.param === 'password') %>
            <% if(password){ %>
                <div class="alert alert-danger">
                    <%= password.msg %>
                </div>
            <% } %>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Password"><br>
            <% let confirmPassword = validationErrors.find(err => err.param === 'confirmPassword') %>
            <% if(confirmPassword){ %>
                <div class="alert alert-danger">
                    <%= confirmPassword.msg %>
                </div>
            <% } %>
            <%#-- confirmPassword  username email  password --#%>
            <button type="submit" class="btn btn-primary mb-2">create Account</button>
        </div>
    </form>
    <% if(authError){ %>
        <div class="alert alert-danger">
            <%= authError %>
        </div>
    <% } %>
    <% for (let error of validationErrors){ %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% } %>
   
<hr> 
<div>
    don't have account ? <a href="/login">Create Account</a>
</div>
</div>


<%- include('includes/footer');  %>